/* ---- MEDIA QUERIES- - - - */

/* INDEX */
@media screen and (max-width: 640px) {
    .index-contenedor {@include grid(0px auto, grid, 0px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(6, auto);
        
        grid-template-areas:"header"
                            "aside"
                            "main"
                            "h4"
                            "article1"
                            "footer"}   

    .index-contenedor .h4__titulo {font-size: 19px;}
    
    .index-contenedor .main__descripcion {font-size: 19px;}
    .footer__box {padding:15px}}
   

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .index-contenedor {@include grid(0px auto, grid, 0px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(6, auto);
        
        grid-template-areas:"header"
                            "aside"
                            "main"
                            "h4"
                            "article1"
                            "footer"} 


    .footer__container {display:flex;
            flex-wrap:nowrap;}
}

/* PRODUCTOS */
@media screen and (max-width: 640px) {
    .productos-contenedor {@include grid(0px auto, grid, 0px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(5, auto);
    
        grid-template-areas:"header"
                            "carousel"
                            "h4"
                            "article1"
                            "footer";}
    
    .productos-contenedor .h4__titulo {font-size: 20px;
                                        padding: 10px;}

    .footer__box {padding:15px}
    }
   

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .productos-contenedor {@include grid(0px auto, grid, 0px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(5, auto);
    
        grid-template-areas:"header"
                            "carousel"
                            "h4"
                            "article1"
                            "footer";}


    .footer__container {display:flex;
            flex-wrap:nowrap;}
}

/* CONTACTO */

@media screen and (max-width: 640px) {
    .contacto-contenedor {@include grid(0px auto, grid, 0.5px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(4, auto);
    
        grid-template-areas:"header"
                            "aside"
                            "main"
                            "footer";}
    
    .main__formulario {padding: 10px 15px;} 
    
    .footer__box {padding:15px}
    }
   

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .contacto-contenedor {@include grid(0px auto, grid, 0.5px 0px);
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(4, auto);
    
        grid-template-areas:"header"
                            "aside"
                            "main"
                            "footer";}

    .footer__container {display:flex;
            flex-wrap:nowrap;}

    .footer__box {padding: 15px}
}
