/* MAIN */
@mixin fondosImg ($imageBg, $positionBg, $sizeBg){
    background-image:$imageBg;
    background-position: $positionBg;
    background-size: $sizeBg;
}
.index-contenedor .main {grid-area: main;}

.index-contenedor .main__descripcion {padding: 20px 10%;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;}


/* - - - - - - - ASIDE  -- - - -  */

.index-contenedor .aside {grid-area:aside;}

.aside__carousel {width: 600px}
    
/* ---- TITULO H4 -----*/
.index-contenedor .h4__titulo {grid-area: h4;
    font-weight: 900;
    margin-bottom: 0px;
    color: rgb(68, 58, 58);
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 4px;
    padding: 20px 10%;
    font-size:30px;
    font-family: 'Roboto Slab', serif;
    background: rgb(225,223,224);
    background: linear-gradient(0deg, rgba(225,223,224,1) 77%, rgba(224,224,222,1) 100%);}
    
/* -- - - - --  ARTICLE 1 - - - - - */
.index-contenedor .article1 {grid-area: article1;
    @include fondosImg(url(/LaFarola/imgs/offwhitefondo.jpg), center, cover);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;}

