/* ----- MAIN - - - -- */

.productos-contenedor .main {grid-area: carousel;}

/*- -- - - - H4-  - -- -  */

.productos-contenedor .h4__titulo {grid-area: h4;
    margin-bottom: 0px;
    padding: 25px;
    color: black;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 40px;
    background-color: #4158D0;
    background-image: linear-gradient(213deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Roboto Slab', serif;}


/*----- ARTICLE------ */

.productos-contenedor .article1 {grid-area: article1;
            background-image: url(../imgs/offwhitefondo2.jpg);
            background-position: center;
            background-size: cover;
            font-family: 'Roboto Slab', serif;}

.productos-contenedor .article__container {display: flex;
                    flex-wrap: wrap;    
                    justify-content: center;}

.article__box {margin: 30px;
                transition: 0.25s;
                }

.article__box:hover {transform: scale(1.05,1.05);}